.container{
    border: 1px solid black;
    background-color: yellow;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.box{
    height: 100px;
    width: 100px;
    border:1px solid black;
    background-color: aqua;
    gap: 10px;
    
}
